<main class="dashboard_wrapper_content">
   <div class="container-fuild">
      <div class="row">
         <div class="col-md-12">
            <div class="table-header-bar">
               <div class="row">
                  <div class="col-md-6">
                     <div class="table-title d-flex align-items-center">
                        <h5 class="m-0">Give & Ask</h5>
                     </div>
                  </div>
                  <div class="col-md-5 offset-md-1">
                     <div class="table-title d-flex align-items-center">
                        <h5 class="mb-0"><strong>Filter:</strong></h5>&nbsp;
                        <div class="input-group">
                           <input type="date" [value]="today[0]" #_date (change)="giveAskList(_date)" class="form-control" >
                           <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-magnifying-glass"></i></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            @for(list of giveAskLists; track list;){
            <div class="work-oder-table-body work_order_table mb-4">
               <h6 class="mb-2"> <strong>{{list.date}}</strong></h6>
               <table class="table table table-hover cloverleaf_table">
                  <thead>
                     <tr>
                        <th scope="col" style="width: 60px;">S.No</th>
                        <th scope="col">Name</th>
                        <th scope="col">your Ask</th>
                        <th scope="col">your Give	</th>
                        <!-- <th scope="col">Email</th> -->
                        <!-- <th scope="col">Company</th> -->
                        <!-- <th scope="col">your Ask</th> -->
                        <!-- <th scope="col">Your Give</th> -->
                        <!-- <th scope="col">Action</th> -->
                     </tr>
                  </thead>
                  <tbody>

                     @for(giveAsk of list.sublist | paginate:{itemsPerPage:10,currentPage:p}; track giveAsk; let i = $index){
                     <tr>
                        <td>{{ i + 1 + (p - 1) * 10 }}</td>
                        <td>{{giveAsk.name}}</td>
                        <td> {{giveAsk.your_ask |slice:0:50}} {{giveAsk.your_ask.length > 40 ? '..':''}} </td>
                        <td> {{giveAsk.your_give |slice:0:50}} {{giveAsk.your_give.length > 40 ? '..':''}} </td>
                        <!-- <td>{{giveAsk.email}}</td> -->
                        <!-- <td>{{giveAsk.company}}</td> -->
                        <!-- <td>{{giveAsk.your_ask}}</td> -->
                        <!-- <td>{{giveAsk.your_give}}</td> -->
                        <!-- <td>
                           <button routerLink="/give-ask-details" [queryParams]="{ id: giveAsk.id }" class="btn btn-default">
                              <i class="fa-solid fa-eye"></i>
                           </button>
                        </td> -->
                     </tr>
                     }
                  </tbody>
               </table>
               <span class="pagination_controls text-end mt-4 d-block">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
               </span>
   
            </div>
            }@empty{
               <p class="text-center">Data not found!</p>
            }
         </div>
      </div>
   </div>

   <!-- new modal started for :: link document   -->
</main>