<main class="dashboard_wrapper_content">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="work-oder-table-body work_order_table">
                    <div class="row">
                        <div class="col-md-10  offset-1">
                            <div class="gain-cd mb-4">
                                <h5><strong>Give Ask Details</strong></h5>
                            </div>
                            <div class="user-data">
                                <table class="">
                                    <tr>
                                        <th>Name</th>
                                        <td>{{data?.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{data?.email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Company</th>
                                        <td>{{data?.company}}</td>
                                    </tr>
                                    <tr>
                                        <th>Your Give</th>
                                        <td>{{data?.your_give}}</td>
                                    </tr>
                                    <tr>
                                        <th>Your Ask</th>
                                        <td>{{data?.your_ask}}</td>
                                    </tr>                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>