$primary:#591E15;
$primary_1:#FD4521;
$primary_2:#18A427;
$primary_3:#3D85BA;
$white:#fff;
$black:#000;


$primary_hover:#FD4521;
$sidebar:#0C8F52;
$notification_bg:#E4E4E4;
$header_bg:#009649;

$br-lg: 5px;
$bggrey:#eeeeee;
$lightgrey: #ced0ce;
$medgrey: #656565;
$darkgrey:#171a1c;

$bggray:#fcfafa;
$lightgray: #ced0ce;
$medgray: #656565;
$darkgray:#171a1c;
