<main class="dashboard_wrapper_content">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="work-oder-table-body work_order_table">
                    <div class="row">
                        <div class="col-md-10  offset-1">
                            <div class="gain-cd mb-4">
                                <h5><strong>Business Reports Details</strong></h5>
                            </div>
                            <div class="user-data">
                                <table class="table table-hover">
                                    <tr>
                                        <th>Reciever Name</th>
                                        <td>{{data?.reciever_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{data?.email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Giver Name</th>
                                        <td>{{data?.giver_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Date of Business Exchange</th>
                                        <td>{{data?.date_of_business_exchange}}</td>
                                    </tr>
                                    <tr>
                                        <th>Type of Transaction Name</th>
                                        <td>{{data?.type_of_transaction_name}}</td>
                                    </tr>                                    
                                    <tr>
                                        <th>Amount</th>
                                        <td>{{data?.amount}}</td>
                                    </tr>                                    
                                    <tr>
                                        <th>Product Services</th>
                                        <td>{{data?.product_services}}</td>
                                    </tr>                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>