.dropdown-menu {
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 200px;
  padding: .5em 0;
  a {
    padding: 0.5em 1em;
    text-transform: uppercase;
    
    &:hover{
        background: #F05A28;
        color: #fff;
    }
  }
}

button.btn{
   &:active,&:focus-within, &:focus,&:focus-visible{
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }
}
.filter_drop{
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 5;
}