<main class="dashboard_wrapper_content">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="work-oder-table-body work_order_table">
                    <div class="row">
                        <div class="col-md-4 offset-1">
                            <div class="user-img">
                                <img src="./img/avtar.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="user-data">
                                <table>
                                    <tr>
                                        <th>Username</th>
                                        <td>{{profile_data?.username}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{profile_data?.email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Company name</th>
                                        <td>{{profile_data?.company_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone</th>
                                        <td>{{profile_data?.phone}}</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{profile_data?.address}}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td>{{profile_data?.city}}</td>
                                    </tr>
                                    <tr>
                                        <th>State</th>
                                        <td>{{profile_data?.state}}</td>
                                    </tr>
                                    <tr>
                                        <th>Zip</th>
                                        <td>{{profile_data?.postal_code}}</td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>{{profile_data?.country}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 pt-5">
                            <div class="gain-cd offset-1">
                                <h5><strong>GAINS CD</strong></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>