<main class="dashboard_wrapper_content">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="work-oder-table-body work_order_table">
                    <div class="row">
                        <div class="col-md-4 offset-1">
                            <div class="user-img">
                                <img src="{{profile_data?.profle_pic}}" onerror="this.src='./img/avtar.jpg'" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="user-data">
                                <table>
                                    <tr>
                                        <th>Wing</th>
                                        <td>{{profile_data?.wing_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{profile_data?.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{profile_data?.email}}</td>
                                    </tr>
                                   
                                    <tr>
                                        <th>Phone</th>
                                        <td>{{profile_data?.phone}}</td>
                                    </tr>
                                    <tr>
                                        <th>Company name</th>
                                        <td>{{profile_data?.company_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Company website</th>
                                        <td>{{profile_data?.company_website}}</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{profile_data?.address}}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td>{{profile_data?.city}}</td>
                                    </tr>
                                    <tr>
                                        <th>State</th>
                                        <td>{{profile_data?.state}}</td>
                                    </tr>
                                    <tr>
                                        <th>Zip</th>
                                        <td>{{profile_data?.postal_code}}</td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>{{profile_data?.country}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-11 pt-5 offset-1">
                            <div class="gain-cd ">
                                <h5><strong>GAINS CD</strong></h5>
                            </div>
                            <div class="user-data">
                                <table class="table">
                                    <tr>
                                        <th>Unique Selling Point</th>
                                        <td>{{profile_data?.usp}}</td>
                                    </tr>
                                    <tr>
                                        <th>Goals</th>
                                        <td>{{profile_data?.goals}}</td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <td>{{profile_data?.category}}</td>
                                    </tr>
                                    <tr>
                                        <th>Years in Business</th>
                                        <td>{{profile_data?.years_in_business}}</td>
                                    </tr>
                                    <tr>
                                        <th>Accomplishment</th>
                                        <td>{{profile_data?.accomplishment}}</td>
                                    </tr>
                                    <tr>
                                        <th>Interests</th>
                                        <td>{{profile_data?.interests}}</td>
                                    </tr>
                                    <tr>
                                        <th>Networks</th>
                                        <td>{{profile_data?.networks}}</td>
                                    </tr>
                                    <tr>
                                        <th>Skills</th>
                                        <td>{{profile_data?.skills}}</td>
                                    </tr>
                                    <tr>
                                        <th>challenges</th>
                                        <td>{{profile_data?.challenges}}</td>
                                    </tr>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>