<main class="dashboard_wrapper_content">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="work-oder-table-body work_order_table">
                    <div class="row">
                        <div class="col-md-10  offset-1">
                            <div class="gain-cd mb-4">
                                <h5><strong>Reference Exchange Details</strong></h5>
                            </div>
                            <div class="user-data">
                                <table class="">
                                   
                                    <tr>
                                        <th>Reference Given by</th>
                                        <td>{{data?.reference_given_by}}</td>
                                    </tr>
                                    <tr>
                                        <th>Reference Received by</th>
                                        <td>{{data?.reference_received_by}}</td>
                                    </tr>
                                    <tr>
                                        <th>Reference Date</th>
                                        <td>{{data?.ref_date}}</td>
                                    </tr> 
                                    <tr>
                                        <th>Created at</th>
                                        <td>{{data?.created_at}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <th>For What</th>
                                        <td>{{data?.for_what}}</td>
                                    </tr>
                                                                       
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>