<main class="dashboard_wrapper_content">
    <div class="engineer-registration form-bg">
        <div class="container-fuild">
            <div class="row">
                <div class="col-md-offset-3 col-md-12">
                    <div class="form-container-block">
                        <h3 class="title">
                            {{ is_edit ? "Update User Details" : "Add User" }}
                        </h3>

                        <form [formGroup]="userAddForm" (ngSubmit)="submitUserForm()" class="rest-form-block">
                            <div class="login-detils">
                                <h6 class="mt-5"><strong>Personal Details</strong></h6>
                                <div class="form-group form_group">
                                    <label>Wing*</label>
                                    <select formControlName="wing" class="form-control">
                                        <option selected value="">Choose wing</option>
                                        @for(wing of wingLists; track wing){
                                        <option selected [value]="wing.id">{{wing.wing_name}}</option>
                                        }
                                    </select>
                                    <p class="error_msg">
                                        @if(userAddForm.get('wing').errors?.['required'] &&
                                        userAddForm.get('wing').touched){
                                        <span class="red-error">Wing is required</span>
                                        }
                                    </p>
                                </div>

                                <div class="form-group form_group">
                                    <label>Name*</label>
                                    <input class="form-control" type="text" formControlName="name"
                                        placeholder="Enter name" />
                                    <p class="error_msg">
                                        @if(userAddForm.get('name').errors?.['required'] &&
                                        userAddForm.get('name').touched){
                                        <span class="red-error">Name is required</span>
                                        }
                                    </p>
                                </div>
                                <div class="form-group form_group">
                                    <label>Email*</label>
                                    <input class="form-control" type="email" formControlName="email"
                                        placeholder="Enter email" />
                                    <p class="error_msg">
                                        @if(userAddForm.get('email').errors?.['required'] &&
                                        userAddForm.get('email').touched){
                                        <span class="red-error">Email is required</span>
                                        }@else if(userAddForm.get('email').invalid && userAddForm.get('email').touched
                                        && userAddForm.value.email){
                                        <span class="red-error">Email is not valid</span>
                                        }
                                    </p>
                                </div>
                                <div class="form-group form_group">
                                    <label>Phone*</label>
                                    <input class="form-control" type="text" formControlName="phone"
                                        placeholder="Enter phone number" />
                                    <p class="error_msg">
                                        @if(userAddForm.get('phone').errors?.['required'] &&
                                        userAddForm.get('phone').touched){
                                        <span class="red-error">Phone is required</span>
                                        }@else if(userAddForm.get('phone').invalid &&
                                        userAddForm.get('phone').touched){
                                        <span class="red-error">Phone number must be 10 digits long.
                                        </span>

                                        }
                                    </p>
                                </div>

                                @if(!is_edit){
                                <div class="form-group form_group">
                                    <label>Password*</label>
                                    <input class="form-control" type="password" formControlName="password"
                                        placeholder="Enter passowrd" />
                                    <p class="error_msg">
                                        @if(userAddForm.get('password').invalid && userAddForm.get('password').touched){
                                            @if(userAddForm.get('password').hasError('passwordInvalid')){
                                                <span class="red-error">Password must include uppercase, lowercase, a number or symbol, and be at least 6 characters. E.g., Demo&#64;1</span>
                                            }
                                        }
                                    </p>
                                </div>
                                }

                                <div class="form-group form_group">
                                    <label>User Photo</label>
                                    <input class="form-control" (change)="userPic($event)" accept="image/*" type="file"
                                        formControlName="user_photo" />
                                </div>

                                <h6 class="mt-4 mb-2"><strong>Company Details</strong></h6>
                                <div class="form-group form_group">
                                    <label>Company name*</label>
                                    <input class="form-control" type="text" formControlName="company_name"
                                        placeholder="Enter company name" />
                                    <p class="error_msg">
                                        @if(userAddForm.get('company_name').errors?.['required'] &&
                                        userAddForm.get('company_name').touched){
                                        <span class="red-error">Company name is required</span>
                                        }
                                    </p>
                                </div>

                                <div class="form-group form_group">
                                    <label>Company Website</label>
                                    <input class="form-control" type="text" formControlName="company_website"
                                        placeholder="Enter company website" />
                                    <p class="error_msg">
                                        @if(userAddForm.get('company_website').errors?.['required'] &&
                                        userAddForm.get('company_website').touched){
                                        <span class="red-error">Company website is required</span>
                                        }
                                    </p>
                                </div>

                                <div class="form-group form_group">
                                    <label>Category*</label>
                                    <input class="form-control" type="text" formControlName="category"
                                        placeholder="Enter category" />
                                    <p class="error_msg">
                                        @if(userAddForm.get('category').errors?.['required'] &&
                                        userAddForm.get('category').touched){
                                        <span class="red-error">Category is required</span>
                                        }
                                    </p>
                                </div>

                                <div class="form-group form_group">
                                    <label>Website logo</label>
                                    <input class="form-control" (change)="websiteLogo($event)" accept="images/*"
                                        type="file" formControlName="company_logo" />
                                </div>

                                <div class="form-group form_group">
                                    <label>Office address*</label>
                                    <input class="form-control" type="text" formControlName="address"
                                        placeholder="Enter address" />
                                    <p class="error_msg">
                                        @if(userAddForm.get('address').errors?.['required'] &&
                                        userAddForm.get('address').touched){
                                        <span class="red-error">Address is required</span>
                                        }
                                    </p>
                                </div>

                                <div class="form-group form_group">
                                    <label>Office map url</label>
                                    <input class="form-control" type="text" formControlName="officeMap"
                                        placeholder="Enter map url" />
                                    <!-- @if(userAddForm.get('officeMap').invalid && userAddForm.get('officeMap').touched){
                                    <p class="error_msg">
                                        @if(userAddForm.get('officeMap').errors?.['invalidUrl']){
                                        <span class="red-error">Invalid Map URL</span>
                                        }
                                    </p>
                                    } -->
                                </div>

                                <div class="form-group form_group">
                                    <label>City*</label>
                                    <input class="form-control" type="text" formControlName="city"
                                        placeholder="Enter city" />
                                    <p class="error_msg">
                                        @if(userAddForm.get('city').errors?.['required'] &&
                                        userAddForm.get('city').touched){
                                        <span class="red-error">City/Town is required</span>
                                        }
                                    </p>
                                </div>

                                <div class="form-group form_group">
                                    <label>State*</label>
                                    <input class="form-control" type="text" formControlName="state"
                                        placeholder="Enter state" />
                                    <p class="error_msg">
                                        <span
                                            *ngIf="userAddForm.get('state').errors?.['required'] && userAddForm.get('state').touched"
                                            class="red-error">
                                            State is required
                                        </span>
                                    </p>
                                </div>

                                <div class="form-group form_group">
                                    <label>Zip/Postal code*</label>
                                    <input class="form-control" type="text" formControlName="postal_code"
                                        placeholder="Enter zip" />
                                    <p class="error_msg">
                                        @if(userAddForm.get('postal_code').errors?.['required'] &&
                                        userAddForm.get('postal_code').touched){
                                        <span class="red-error">Zip is required</span>
                                        }
                                    </p>
                                </div>

                                <div class="form-group form_group">
                                    <label>Country*</label>
                                    <input class="form-control" type="text" formControlName="country"
                                        placeholder="Enter country" />
                                    <p class="error_msg">
                                        @if(userAddForm.get('country').errors?.['required'] &&
                                        userAddForm.get('country').touched){
                                        <span class="red-error">Country is required</span>
                                        }
                                    </p>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn-block btn btn-default signup"
                                    [disabled]="userAddForm.invalid"> {{ is_edit ? "Update" : "Add User" }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>