<main class="dashboard_wrapper_content">
   <div class="container-fuild">
      <div class="row">
         <div class="col-md-12">
            <div class="table-header-bar">
               <div class="row">
                  <div class="col-md-6">
                     <div class="table-title d-flex align-items-center">
                        <h5 class="m-0">Reference Exchanged</h5>
                     </div>
                  </div>
                  <div class="col-md-5 offset-md-1">
                     <div class="table-title d-flex align-items-center">
                        <h5 class="mb-0"><strong>Filter:</strong></h5>&nbsp;
                        <div class="input-group">
                           <input type="date" [value]="today[0]" #_date (change)="referenceList(_date)" class="form-control">
                           <span class="input-group-text" id="basic-addon2"><i
                                 class="fa-solid fa-magnifying-glass"></i></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            @for(list of referenceLists; track list;){
            <div class="work-oder-table-body work_order_table mb-4">
               <h6 class="mb-2"><strong>{{list.date}}</strong> </h6>
               <table class="table table table-hover cloverleaf_table">
                  <thead>
                     <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Reference Given by</th>
                        <th scope="col">Reference Received by</th>
                        <th scope="col">Reference Date</th>
                        <th scope="col">Action</th>
                     </tr>
                  </thead>
                  <tbody>

                     @for(item of list.references | paginate:{itemsPerPage:10,currentPage:p}; track item; let i =
                     $index){
                     <tr>
                        <td>{{i+1}}</td>
                        <td>{{item.reference_given_by}}</td>
                        <td>{{item.reference_received_by}}</td>
                        <td>{{item.ref_date }}</td>
                        <td>
                           <button routerLink="/reference-excahanged-details" [queryParams]="{ id: item.id }"
                              class="btn btn-default">
                              <i class="fa-solid fa-circle-info"></i>
                           </button>
                        </td>
                     </tr>
                     }@empty{
                     <tr>
                        <td colspan="6">User not found!</td>
                     </tr>
                     }
                  </tbody>
               </table>
               <span class="pagination_controls text-end mt-4 d-block">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
               </span>

            </div>
            }@empty{
            <p class="text-center">Data not found!</p>
            }


         </div>
      </div>
   </div>

   <!-- new modal started for :: link document   -->
</main>