<main class="dashboard_wrapper_content">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="work-oder-table-body work_order_table">
                    <div class="row">
                        <div class="col-md-10  offset-1">
                            <div class="gain-cd mb-4">
                                <h5><strong>R2B Details</strong></h5>
                            </div>
                            <div class="user-data">
                                <table class="">
                                    <tr>
                                        <th>Host Name</th>
                                        <td>{{data?.host_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Guest Name</th>
                                        <td>{{data?.guest_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{data?.email}}</td>
                                    </tr>
                                    <tr>
                                        <th> Date of R2B</th>
                                        <td>{{data?.date_of_r2b}}</td>
                                    </tr>
                                    <tr>
                                        <th>Purpose of Business</th>
                                        <td>{{data?.purpose_of_business}}</td>
                                    </tr>                                    
                                    <tr>
                                        <th>Gained Followed</th>
                                        <td>{{data?.gained_followed}}</td>
                                    </tr>                                    
                                    <tr>
                                        <th>Discussion Held</th>
                                        <td>{{data?.discussion_held}}</td>
                                    </tr>                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>