<main class="dashboard_wrapper_content">
    <div class="engineer-registration form-bg">
        <div class="container-fuild">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <div class="form-container-block">
                        <h3 class="title">
                            {{ is_edit ? "Update" : "Add" }} Meeting
                        </h3>

                        <form [formGroup]="meetingAddForm" (ngSubmit)="submitMeetingForm()" class="rest-form-block">
                            <div class="login-detils">
                                <div class="form-group form_group w-100">
                                    <label>Wing *</label>
                                    <select formControlName="wing" class="form-control">
                                        <option selected value="">Choose wing</option>
                                        @for(wing of wingLists; track wing){
                                            <option value="{{wing.id}}">{{wing.wing_name}}</option>
                                        }
                                    </select>
                                    <p class="error_msg">
                                        @if(meetingAddForm.get('wing').errors?.['required'] &&
                                        meetingAddForm.get('wing').touched){
                                        <span class="red-error">Wing is required</span>
                                        }
                                    </p>
                                </div>
                                <div class="form-group form_group w-100">
                                    <label>Meeting date *</label>
                                    <input class="form-control" type="date" formControlName="meet_date"
                                        placeholder="Enter wing" />
                                    <p class="error_msg">
                                        @if(meetingAddForm.get('meet_date').errors?.['required'] &&
                                        meetingAddForm.get('meet_date').touched){
                                        <span class="red-error">Meeting date is required</span>
                                        }
                                    </p>
                                </div>
                                <div class="form-group form_group w-100">
                                    <label>Meeting Time *</label>
                                    <input class="form-control" type="time" formControlName="meet_time"
                                        placeholder="Enter wing" />
                                    <p class="error_msg">
                                        @if(meetingAddForm.get('meet_time').errors?.['required'] &&
                                        meetingAddForm.get('meet_time').touched){
                                        <span class="red-error">Meeting time is required</span>
                                        }
                                    </p>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn-block btn btn-default signup"
                                    [disabled]="meetingAddForm.invalid"> {{ is_edit ? "Update" : "Add wing" }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>